body {
  background-color: rgb(14, 175, 180);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

h1 {
  text-align: center;
  color: aqua;
  position: absolute;
  top: 10px;
  width: 100%;
}
