$red-color: #ff4c4c;
$orange-color: #f5a623;
$green-color: #4caf50;

$light-opacity: 0.5;
$light-active-opacity: 1;
$light-size: 100px;
$alert-width: 250px;

$traffic-light-width: 150px;
$traffic-light-height: 400px;
$traffic-light-border-radius: 15px;
$traffic-light-shadow: 0 0 10px 2px rgba(255, 255, 255, 0.3);

$icon-hover-color: #ffffff;
